html {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}
.noticia {
    border:1px solid #802935;
    width:50%;
    display:inline-block;
    height: 50%;
    background-color: #deaeb5;    
    padding:20px;
    margin:20px;    
    line-height: 1.3em;
}
.noticia img {
    width: 60%;
    float:left;
    margin:10px;
}
.noticia p::first-line {
   font-weight: bolder;
   margin:10px;
}
.noticia p:not(::first-line) {
    opacity:0.75;
    color:#999999;
}
.noticia h2:after {
    content:">>";
}
.noticia h2:before {
    content:"<<";
}
.noticia h2 {
    text-align: right;
    font-size: 1.5em;  
    margin-bottom: 20px;
    text-transform: uppercase;
    font-stretch: extra-condensed;
    
}
/*
.noticia h2::first-line {
    color:red;
}*/
