.noticia {
    border:1px dashed #234322;
    width:50%;
    background-color:#45a390;
    margin:10px;
    padding:10px;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;    
}

.noticia:hover {
    background-color:#14957b;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}

.important {
    background-image: url(../../../images/arrow_left.jpg);
    background-repeat:no-repeat ;
    background-position: 100% 50%;
    -webkit-transition: margin-left 1s; /* Safari */
    transition: margin-left 1s;    
}

.important:hover {
    background-position: 90% 50%;
    margin-left:50px;
    -webkit-transition: margin-left 1s; /* Safari */
    transition: margin-left 1s;
}

.noticia:nth-of-type(3n+1) {
  
    margin-left:0%;
}
.noticia:nth-of-type(3n+2) {
    background-color:#2f8876;
    margin-left:25%;
}
.noticia:nth-of-type(3n) {
    background-color:#0e5547;
    margin-left:50%;
}

input:active {
    background-color:yellow;
}
 
p+p:first-line {
    font-weight: bolder;
}
p+p:first-letter {
    font-size:2em;
}

p:first-child:before {
    content:"★";
    color:red;
    font-size: 3em;
}
p:first-child:after {
    content:"★";
    color:red;
    font-size: 3em;
}
