.noticia {
    border:1px dashed #234322;
    width:50%;
    background-color:#45a390;
    margin:10px;
    padding:10px;
}

.noticia:hover {
    background-color:#14957b;
}

.important {
    background-image: url(../../../images/arrow_left.jpg);
    background-repeat:no-repeat ;
    background-position: 100% 50%;
}

.important:hover {
    background-position: 90% 50%;
}

input:active {
    background-color:yellow;
}